<ion-view>
    <ion-pane>
        
  <div class="top-bar">
         <div class="w1">
           <img src="img/top-bar.png"/>
         </div>
     
</div>           
<ion-header-bar align-title="center" class="bar-positive">
    
  <div class="buttons">
    <a ng-click="dosth()"><img src="img/btn1.png"></a>
  </div>
  <h1 class="title">戶口記錄</h1>

  <div class="buttons">
    <a ng-href="#/record"><img src="img/btn2.png"></a>
  </div>
</ion-header-bar>
 <div class="bar bar-subheader">
     <div class="centerbox">
         <p>時間:{{time}}</p>
     <p>戶口號碼:{{acc}}</p>
     <p>結餘:${{balance}}</p>
     </div>

</div>   
       
<ion-content class="has-subheader">
    <p class="text1">每次最多可搜尋過去30天内其中8天</p>
<div class="card">
  <div class="row">
      <div class="col-50 leftbox">
        <p>由：</p>
        <p>至：</p>
      </div>
      
      <div class="col-50 rightbox">
        <p>15/05/2016</p>
        <p>15/05/2016</p>
      </div> 
    
  </div>
</div>

    <div class="card">
  <div class="row">
      <div class="col-50 leftbox">
        <p>交易種類</p>
       
      </div>
      
      <div class="col-50 rightbox">
        <p>所有</p>
        
      </div> 
    
  </div>
</div>
    
     <div class="card">
  <div class="row">
      <div class="col-50 leftbox">
        <p>顯示種類</p>
       
      </div>
      
      <div class="col-50 rightbox">
         <select>
  <option value="volvo">所有</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
        
      </div> 
    
  </div>
</div>

  
 
</ion-content>
        
        
    </ion-pane>
 </ion-view>