  
 
<ion-view view-title="戶口記錄 ">
     <!--button-->
     <ion-nav-buttons side="left">      
      
  <a   class="buttons " ng-href="#/manager"><img src="img/btn1.png"></a>
      
    </ion-nav-buttons>
     
     <ion-nav-buttons side="right">
  
   <a class="buttons" href="#/list"><img src="img/btn3.png"></a>
  
    </ion-nav-buttons>
     <!--button-->
     
  
      <div class="bar bar-subheader">
     <div class="centerbox">
         <p>時間:  {{rec.date}}</p>
     <p>戶口號碼:  {{rec.acc}}</p>
     <p>結餘: {{ rec.balance | currency }}</p>
     </div>

</div>  
     
    
        <ion-content class="has-subheader">
            
        
 
      


            
            

    <p class="text1">每次最多可搜尋過去30天内其中8天</p>
<div class="card">
  <div class="row">
      <div class="col-50 leftbox">
        <p>由：</p>
        <p>至：</p>
      </div>
      
      <div class="col-50 rightbox">
        <p>15/05/2016</p>
        <p>15/05/2016</p>
      </div> 
    
  </div>
</div>

    <div class="card">
  <div class="row">
      <div class="col-50 leftbox">
        <p>交易種類</p>
       
      </div>
      
      <div class="col-50 rightbox">
        <p>所有</p>
        
      </div> 
    
  </div>
</div>
    
     <div class="card">
  <div class="row">
      <div class="col-50 leftbox">
        <p>顯示種類</p>
       
      </div>
      
      <div class="col-50 rightbox">
         <select>
  <option value="volvo">所有</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
        
      </div> 
    
  </div>
</div>

  
        
 </ion-content>
 
      </ion-view>