  
 
<ion-view view-title="戶口記錄 ">
     <!--button-->
     <ion-nav-buttons side="left">      
      
  <a class="button btn1" ng-href="#/manager"></a>
      
    </ion-nav-buttons>
     
     <ion-nav-buttons side="right">
  
   <a class="button btn3" ng-click="goto()"></a>
  
    </ion-nav-buttons>
     <!--button-->
     
  
      <div class="bar bar-subheader">
     <div class="centerbox">
         <p>時間:  {{info.date | date:'dd/MM/yyyy'}}</p>
     <p>戶口號碼:  {{info.acc}}</p>
     <p>結餘: {{ info.balance | currency }}</p>
     </div>

</div>  
     
    
        <ion-content class="has-subheader">
            
        
 
      


            
            

    <p class="text1">每次最多可搜尋過去30天内其中8天</p>
<div class="card">
  <div class="row">
      <div class="col-33 leftbox">
        <p>由：</p>
        <p>至：</p>
      </div>

      <div class="col-67 rightbox">
        <p class="datep"><input type="date" ng-model="searchDate.startDate"></p>
        <p class="datep"><input type="date" ng-model="searchDate.endDate"></p>
          
      </div>
      <div>
   
      </div>
    
  </div>
</div>

    <div class="card">
  <div class="row">
      <div class="col-33 leftbox">
        <p>交易種類      
</p>
       
      </div>
      
       <div class="col-67 rightbox">
          <label class="item item-input item-select">
   <div class="input-label">
    
   </div>
   <select>
         <option value="saab">賽馬</option>
                <option value="saab">足球</option>
         <option value="saab">六合彩</option>
         <option selected value="saab">所有</option>

     <option value="volvo">其他</option>
 
   </select>
 </label>

      </div> 
    
  </div>
</div>
    
     <div class="card">
  <div class="row">
      <div class="col-33 leftbox">
        <p>顯示種類</p>
       
      </div>
      
      <div class="col-67 rightbox">
          <label class="item item-input item-select">
   <div class="input-label">
    
   </div>
   <select>
         <option value="saab">已派彩/已退款/已回扣之交易</option>
     <option value="volvo" selected>所有</option>
 
   </select>
 </label>

      </div> 
    
  </div>
</div>

  
        
 </ion-content>
 
      </ion-view>