 
 
<ion-view view-title="戶口記錄">
    
    
    
    
    <ion-nav-buttons side="left">
         
      <a class="button btn1"  href="#/home"></a>
    </ion-nav-buttons>
     
     <ion-nav-buttons side="right">
       
  <a class="button btn2"  href="#/create"></a>
    </ion-nav-buttons>
    
    
<!--

     <ion-nav-buttons side="left">
         
      <span class="buttons">
        <a href="#/home"><img src="img/btn1.png"></a>
      </span>
    </ion-nav-buttons>
     
     <ion-nav-buttons side="right">
       
  <span class="buttons">
    <a  href="#/create" > <img src="img/btn2.png"></a>
  </span>
    </ion-nav-buttons>
-->

      
  
  
      <div class="bar bar-subheader">

      <div class="centerbox">
           <p>時間:  {{info.date | date:'dd/MM/yyyy'}}</p>
     <p>戶口號碼:  {{info.acc}}</p>
     <p>結餘: {{ info.balance | currency }}</p>
     </div>

</div>  
   
 <div class="seach-bar"><b>搜尋時段:{{searchDate.startDate | date:'dd/MM/yyyy' }}至{{searchDate.endDate|  date:'dd/MM/yyyy' }}</b></div>        
<ion-content class="has-subheader" overflow-scroll="true"  style="top:151px;">
    
 <div class="list">

 <div ng-repeat="rec in records |orderBy:'-date' " ng-click="goto(rec._id)">
  <div class="item item-divider row">
    <div class="col col-33"><b>參考編號</b></div>
      <div class="col col-67"><b>{{rec.no}}</b></div>
  </div>

     
     <div class="item">
      <table>

          <tr>
            <td width="33%"><b>日期/時間</b></td>
              <td width="65%"><b>{{rec.date  | date:'dd/MM/yyyy' }}</b></td>
          </tr>
           <tr>
               <td width="33%"><b>投注類別</b></td>
               <td width="65%"><b>{{rec.type}}</b></td>
          </tr>

           <tr>
               <td width="33%"><b>細節</b></td>
               <td width="65%"><b>{{rec.detail}}</b></td>
          </tr>
          
           <tr>
               <td width="33%"><b>支出</b></td>
               <td width="65%"><b>${{rec.expense}}</b></td>
          </tr>
            <tr>
               <td width="33%"><b>存入</b></td>
               <td width="65%"><b>${{rec.income}}</b></td>
          </tr>
      
      </table>
     </div> 
     
   </div>  
     
<!--     
  <div class="item">
      <table>

          <tr>
            <td width="33%"><b>日期/時間</b></td>
              <td width="65%"><b>11-05-2016 00:39</b></td>
          </tr>
           <tr>
               <td width="33%"><b>投注類別</b></td>
               <td width="65%"><b>讓球</b></td>
          </tr>

           <tr>
               <td width="33%"><b>細節</b></td>
               <td width="65%"><b>星期二 1 韋斯咸（主）對 曼聯（客）客【0/-0.5】 @1.97 $200</b></td>
          </tr>
          
           <tr>
               <td width="33%"><b>支出</b></td>
               <td width="65%"><b>$65.00</b></td>
          </tr>
            <tr>
               <td width="33%"><b>存入</b></td>
               <td width="65%"><b>$200.00</b></td>
          </tr>
      
      </table>
     </div>
   -->  

   
 
</ion-content>
        
      </ion-view>
   
