<style>
    .item{border-bottom:1px solid #eee;margin:0px;}
    .has-header{top:50px } .list{margin:0 15px}
</style>      
 
<ion-view >
     <!--button-->
     <ion-nav-buttons side="left">      
     
        
        <a class="button  button-clear" href="#/list/">
        Back
      </a>
      
    </ion-nav-buttons>
     
     <ion-nav-buttons side="right">
    <a class="button button-clear " ng-click="save()">Save</a>

    </ion-nav-buttons>
   
    
    
       <ion-nav-title>
            Update    
     </ion-nav-title>
  
    <!--nav bar-->
    
     
    
        <ion-content >
            
       <div class="list">
  <label class="item item-input">
    <span class="input-label">Reference No.</span>
    <input type="number" ng-model="rec.no">
  </label>
 
           
            <label class="item item-input">
    <span class="input-label">Date</span>
    <input type="date" ng-model="rec.date" >
  </label>
           
            <label class="item item-input">
    <span class="input-label">Bet Type</span>
    <input type="text" ng-model="rec.type">
  </label>
           
            <label class="item item-input">
    <span class="input-label">Detail</span>
    <textarea type="text" ng-model="rec.detail" rows="4">
                </textarea>
  </label>
           
            <label class="item item-input">
    <span class="input-label">Expenditure</span>
    <input type="number" ng-model="rec.expense">
  </label>
           
            <label class="item item-input">
    <span class="input-label">Income</span>
    <input type="number" ng-model="rec.income">
  </label>
           
            <label class="item item-input">
<button class="button  button-full button-assertive" ng-click="delete()">
Delete</button>  </label>
           
           
</div>
        
 
  
        
 </ion-content>
 
      </ion-view>