<ion-view>

    <ion-pane>
     <div class="top-bar">
         <div class="w1">
           <img src="img/top-bar.png"/>
         </div>
     
</div>      
        
<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <a href="#/home"><img src="img/btn1.png"></a>
  </div>
  <h1 class="title">戶口記錄</h1>
  <div class="buttons">
    <a ><img src="img/btn2.png"></a>
  </div>
</ion-header-bar>
 <div class="bar bar-subheader">
     <div class="centerbox">
         <p>時間:12/05/2016 17:53</p>
     <p>戶口號碼:88888888</p>
     <p>結餘:$5,856.80</p>
     </div>
 
</div>   
       
<ion-content class="has-subheader">
 <div class="seach-bar">搜尋時段:10/05/2016至11/05/2016</div>   
 <div class="list">

  <div class="item item-divider row">
    <div class="col col-33"><b>參考編號</b></div>
      <div class="col col-67"><b>0257</b></div>
  </div>

  <div class="item">
      <table>

          <tr>
            <td width="33%"><b>日期/時間</b></td>
              <td width="65%"><b>11-05-2016 00:39</b></td>
          </tr>
           <tr>
               <td width="33%"><b>投注類別</b></td>
               <td width="65%"><b>讓球</b></td>
          </tr>

           <tr>
               <td width="33%"><b>支出</b></td>
               <td width="65%"><b>$65.00</b></td>
          </tr>
            <tr>
               <td width="33%"><b>存入</b></td>
               <td width="65%"><b>$200.00</b></td>
          </tr>
      
      </table>
     </div>
     
  <div class="item item-divider row">
    <div class="col col-33"><b>參考編號</b></div>
      <div class="col col-67"><b>0257</b></div>
  </div>

  <div class="item">
      <table>

          <tr>
            <td width="33%"><b>日期/時間</b></td>
              <td width="65%"><b>11-05-2016 00:39</b></td>
          </tr>
           <tr>
               <td width="33%"><b>投注類別</b></td>
               <td width="65%"><b>讓球</b></td>
          </tr>

           <tr>
               <td width="33%"><b>細節</b></td>
               <td width="65%"><b>星期二 1 韋斯咸（主）對 曼聯（客）客【0/-0.5】 @1.97 $200</b></td>
          </tr>
          
           <tr>
               <td width="33%"><b>支出</b></td>
               <td width="65%"><b>$65.00</b></td>
          </tr>
            <tr>
               <td width="33%"><b>存入</b></td>
               <td width="65%"><b>$200.00</b></td>
          </tr>
      
      </table>
     </div>
     

       
  <div class="item item-divider row">
    <div class="col col-33"><b>參考編號</b></div>
      <div class="col col-67"><b>0257</b></div>
  </div>

  <div class="item">
      <table>

          <tr>
            <td width="33%"><b>日期/時間</b></td>
              <td width="65%"><b>11-05-2016 00:39</b></td>
          </tr>
           <tr>
               <td width="33%"><b>投注類別</b></td>
               <td width="65%"><b>讓球</b></td>
          </tr>

           <tr>
               <td width="33%"><b>細節</b></td>
               <td width="65%"><b>星期二 1 韋斯咸（主）對 曼聯（客）客【0/-0.5】 @1.97 $200</b></td>
          </tr>
          
          
           <tr>
               <td width="33%"><b>支出</b></td>
               <td width="65%"><b>$65.00</b></td>
          </tr>
            <tr>
               <td width="33%"><b>存入</b></td>
               <td width="65%"><b>$200.00</b></td>
          </tr>
      
      </table>
     </div>
     
        
 
</ion-content>
        
        
    </ion-pane>

</ion-view>
   
